html,
body {
    background: #990618;
    margin:0;
    min-height: 100%;
    color: #ffffff;
}

img {
    max-width: 100%;
}

.heading {
    font-family: 'Permanent Marker', cursive;
}

* {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}
